/*-- scss:defaults --*/

$body-color: #ccc;
$body-color-rgb: 204, 204, 204;
$body-bg: #212529;
$body-bg-rgb: 33, 37, 41;
$emphasis-color: #fff;
$emphasis-color-rgb: 255, 255, 255;
$secondary-color: rgba(204, 204, 204, 0.75);
$secondary-color-rgb: 204, 204, 204;
$secondary-bg: #373a3c;
$secondary-bg-rgb: 55, 58, 60;
$tertiary-color: rgba(204, 204, 204, 0.5);
$tertiary-color-rgb: 204, 204, 204;
$tertiary-bg: #2c3033;
$tertiary-bg-rgb: 44, 48, 51;
$primary-text-emphasis: #e87b6f;
$secondary-text-emphasis: white;
$success-text-emphasis: #90bf6b;
$info-text-emphasis: #67c2e2;
$warning-text-emphasis: #e8b579;
$danger-text-emphasis: #c391c5;
$light-text-emphasis: #f8f9fa;
$dark-text-emphasis: #ccc;
$primary-bg-subtle: #2b0703;
$secondary-bg-subtle: #333333;
$success-bg-subtle: #0e1e02;
$info-bg-subtle: #001f29;
$warning-bg-subtle: #2b1a06;
$danger-bg-subtle: #1f0e20;
$light-bg-subtle: #373a3c;
$dark-bg-subtle: #1c1d1e;
$primary-border-subtle: #821509;
$secondary-border-subtle: #999999;
$success-border-subtle: #2a5905;
$info-border-subtle: #015c7c;
$warning-border-subtle: #824f13;
$danger-border-subtle: #5d2b5f;
$light-border-subtle: #444;
$dark-border-subtle: #373a3c;
$heading-color: inherit;
$link-color: #e87b6f;
$link-hover-color: #ed958c;
$link-color-rgb: 232, 123, 111;
$link-hover-color-rgb: 237, 149, 140;
$code-color: #f18bba;
$highlight-color: #ccc;
$highlight-bg: #664d03;
$border-color: #444;
$border-color-translucent: rgba(255, 255, 255, 0.15);
$form-valid-color: #90bf6b;
$form-valid-border-color: #90bf6b;
$form-invalid-color: #e87b6f;
$form-invalid-border-color: #e87b6f;
